body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  #container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(255, 255, 255);
    margin: auto;
    background-color: #34a2eb;
    transition: box-shadow 1s;
  }

  .circle {
    position: absolute;
    width: 65%;
    height: 65%; /* Sonst 44% */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    background: url(navigationArrow.png)
      center no-repeat;
    background-size: contain;
    
  }

  #searchButton {
    font-size: 120%;
  }


  #distance {
    margin-top: -5vh;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
  }