.text-large {
    font-size: 150%;
    letter-spacing: -2px;
    font-weight: bold;
    margin-left: 10px;
}

#search{
    max-width: 700px;
    display: block;
    margin : 0 auto;
}

#addPlaceButton, #submitButton {
    max-width: 150px;
    display: block;
    margin : 0 auto;
    margin-right: 10px;
    font-weight: bold;
}

#navbar {
    background-color: rgb(244, 243, 243);
    height:70px;
}


.grid {
    max-width: 1270px;
    display: flex;
    justify-content: center;
    margin : 0 auto;
    width: 95%;
    margin-top: 15px;
}

.line {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5rem;
    opacity: 1;
}




.grid div[id^='placeBox'] {
    width: 300px;
    max-height:400px;
    overflow:hidden;
    border-radius:25px;
    vertical-align:text-top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
    display: inline-block;
    margin: .5rem;
}

.grid div[id^='placeBox']:hover {
    transform: scale(1.06);
    transition: transform 300ms ease-in-out;
    display: inline-block;
    overflow-y: scroll;
    scrollbar-width: none;
}

.addPlacePopup {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius:25px;
    z-index: 10;
    background-color: white;
    width: 60%;
    max-width: 700px;
}

.addPlacePopup.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}